.header-aut {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;

	width: 100%;

	&:target {
		background-color: $c-primary;

		.nav-bar__list {
			display: flex;

			overflow: auto;
		}

		.header__btn-box {
			display: flex;
		}

		.logo__accent {
			color: $c-secondary;
		}

		.burger--open {
			display: none;
		}

		.burger--close {
			display: flex;
		}
	}
}

.header {
	position: relative;
	@include flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 30px;

	@media (max-width: 699.98px) {
		flex-wrap: wrap;
	}

	@media (max-width: 499.98px) {
		justify-content: center;
		align-content: space-between;
		height: calc(100% - 50px);
	}

	&__title {
		@media (max-width: 799.98px) {
			display: none;
		}

		@media (max-width: 699.98px) {
			display: block;
		}
	}

	&__btn-box {
		@media (max-width: 699.98px) {
			margin-right: 25%;
		}

		@media (max-width: 499.98px) {
			display: none;
			align-items: center;
			flex: 1 1 100%;
			margin: 0px;

			text-align: center;
		}
	}

	&__btn {}
}

// Logo
.logo {
	&__link {
		@media (max-width: 499.98px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		font-size: em(24);
		font-weight: 700;

		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__accent {
		display: inline-block;

		&::first-letter {
			text-transform: uppercase;
		}
	}
}

// Nav bar
.nav-bar {
	@media (max-width: 699.98px) {
		flex: 1 1 100%;
		order: 1;
	}

	@media (max-width: 499.98px) {
		order: 0;
	}

	font-family: "Raleway",
	sans-serif;

	&__list {
		display: flex;
		justify-content: flex-end;
		column-gap: 40px;

		@media (max-width: 699.98px) {
			display: none;
			flex-direction: column;
			align-items: center;
			row-gap: 30px;
			margin-top: 50px;
		}
	}

	&__item {
		list-style-type: none;
	}

	&__link {
		text-transform: uppercase;
	}
}

// Burger

.burger-wrap {
	@include center_f;
	display: none;

	@media (max-width: 699.98px) {
		display: flex;
	}

	@media (max-width: 499.98px) {
		position: absolute;
		top: 0px;
		right: 30px;
	}
}

.burger {
	display: none;

	&--open {
		@media (max-width: 699.98px) {
			display: block;
		}
	}


	&__link {
		position: relative;

		@include center_f;
		flex-direction: column;
		gap: 5px;

		width: 30px;
		height: 30px;
	}

	&__line {
		width: 100%;
		height: 5px;

		border-radius: 5px;
		background-color: $c-dark;
	}

	&__link::before,
	&__link::after {
		content: "";

		display: block;
		width: 100%;
		height: 5px;

		background-color: $c-dark;
		border-radius: 5px;
	}

	&--close &__link::before,
	&--close &__link::after {
		position: absolute;
	}

	&--close &__link::before {
		transform: rotate(45deg);
	}

	&--close &__link::after {
		transform: rotate(-45deg);
	}
}