.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;

	@include flex;
	flex-direction: column;

	font-family: "Rubik", sans-serif;
}

.container {
	max-width: calc($container + 30px);
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	flex: 1 1 100%;
}

img {
	// fix отступа
	vertical-align: top;

	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	color: $c-grey;
}

// Logo

.logo {
	&__link {
		display: flex;
		align-items: center;
	}

}

// Button
.btn {
	display: inline-block;
	padding: 15px 30px;

	color: $c-light;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	background-color: $c-primary;
	border-radius: 5px;

	&--blue {
		background-color: $c-secondary;
	}
}

// Accent
.accent {
	color: $c-primary;

	&--blue {
		color: $c-secondary;
	}
}