// Layout
$container: var(--container);

// Colors
$c-dark: var(--c-dark);
$c-light: var(--c-light);
$c-grey: var(--c-grey);
$c-grey_light: var(--c-grey_light);
$c-primary: var(--c-p);
$c-primary_dark: var(--c-p_dark);
$c-secondary: var(--c-s);
$c-secondary_dark: var(--c-s_dark);