// Layout
$container: 1000px;

// Colors
$с-dark: #000;
$с-light: #FAFBFD;
$с-grey: #616161;
$с-grey_light: #B0B0B0;
$с-primary: #EC5863;
$с-primary_dark: #000;
$с-secondary: #587EEC;
$с-secondary_dark: #000;