:root {
	// Layout
	--container: 1000px;

	// Colors

	--c-dark: #000;
	--c-light: #fafbfd;
	--c-grey: #616161;
	--c-grey_light: #b0b0b0;
	--c-p: #ec5863;
	--c-p_dark: #000;
	--c-s: #587eec;
	--c-s_dark: #000;

	//

	--t-animation: 0.3s;
}