.decor {
	position: absolute;
	background-color: var(--c-p);

	border-radius: 16px;

	box-shadow: 0 0 30px rgba(0, 0, 0, .5);

	&_small {
		min-width: 70px;
		min-height: 70px;
	}

	&_middle {
		min-width: 100px;
		min-height: 100px;
		border-radius: 30px;
	}

	&_big {
		min-width: 150px;
		min-height: 150px;

		border-radius: 30px;
	}
}