@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

h1, h2, h3, h4, h5, h1, p {
  font-size: inherit;
  font-weight: inherit;
}

.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: calc(var(--container) + 30px);
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 100%;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: var(--c-grey);
}

.logo__link {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  color: var(--c-light);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background-color: var(--c-p);
  border-radius: 5px;
}
.btn--blue {
  background-color: var(--c-s);
}

.accent {
  color: var(--c-p);
}
.accent--blue {
  color: var(--c-s);
}

:root {
  --container: 1000px;
  --c-dark: #000;
  --c-light: #fafbfd;
  --c-grey: #616161;
  --c-grey_light: #b0b0b0;
  --c-p: #ec5863;
  --c-p_dark: #000;
  --c-s: #587eec;
  --c-s_dark: #000;
}

.desc {
  max-width: 400px;
}
.desc__title {
  margin-bottom: 10px;
  font-size: 2.75rem;
  font-weight: 700;
}
.desc__text {
  margin-bottom: 24px;
  font-size: 0.75rem;
}
.header-aut {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.header-aut:target {
  background-color: var(--c-p);
}
.header-aut:target .nav-bar__list {
  display: flex;
  overflow: auto;
}
.header-aut:target .header__btn-box {
  display: flex;
}
.header-aut:target .logo__accent {
  color: var(--c-s);
}
.header-aut:target .burger--open {
  display: none;
}
.header-aut:target .burger--close {
  display: flex;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 699.98px) {
  .header {
    flex-wrap: wrap;
  }
}
@media (max-width: 499.98px) {
  .header {
    justify-content: center;
    align-content: space-between;
    height: calc(100% - 50px);
  }
}
@media (max-width: 799.98px) {
  .header__title {
    display: none;
  }
}
@media (max-width: 699.98px) {
  .header__title {
    display: block;
  }
}
@media (max-width: 699.98px) {
  .header__btn-box {
    margin-right: 25%;
  }
}
@media (max-width: 499.98px) {
  .header__btn-box {
    display: none;
    align-items: center;
    flex: 1 1 100%;
    margin: 0px;
    text-align: center;
  }
}
@media (max-width: 499.98px) {
  .logo__link {
    display: flex;
    flex-direction: column;
  }
}
.logo__title {
  font-size: 1.5em;
  font-weight: 700;
}
.logo__title::first-letter {
  text-transform: uppercase;
}
.logo__accent {
  display: inline-block;
}
.logo__accent::first-letter {
  text-transform: uppercase;
}

.nav-bar {
  font-family: "Raleway", sans-serif;
}
@media (max-width: 699.98px) {
  .nav-bar {
    flex: 1 1 100%;
    order: 1;
  }
}
@media (max-width: 499.98px) {
  .nav-bar {
    order: 0;
  }
}
.nav-bar__list {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 699.98px) {
  .nav-bar__list {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 50px;
  }
}
.nav-bar__item {
  list-style-type: none;
}
.nav-bar__link {
  text-transform: uppercase;
}

.burger-wrap {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 699.98px) {
  .burger-wrap {
    display: flex;
  }
}
@media (max-width: 499.98px) {
  .burger-wrap {
    position: absolute;
    top: 0px;
    right: 30px;
  }
}

.burger {
  display: none;
}
@media (max-width: 699.98px) {
  .burger--open {
    display: block;
  }
}
.burger__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  height: 30px;
}
.burger__line {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--c-dark);
}
.burger__link::before, .burger__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--c-dark);
  border-radius: 5px;
}
.burger--close .burger__link::before, .burger--close .burger__link::after {
  position: absolute;
}
.burger--close .burger__link::before {
  transform: rotate(45deg);
}
.burger--close .burger__link::after {
  transform: rotate(-45deg);
}

.health-aut {
  background-color: var(--c-light);
}

.health {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.health__main {
  position: relative;
  z-index: 2;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}
.health::before {
  content: "";
  position: absolute;
  top: 0;
  right: 25%;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  transform: translate(100%, 0);
  background-color: var(--c-p);
  border-radius: 30px 0px 0px 30px;
}/*# sourceMappingURL=index.css.map */